#
# For a description of the syntax of this configuration file, see:
# https://gitlab.com/ymorin/kconfig-frontends/-/blob/master/docs/kconfig-language.txt
#

if MACH_PCM_SYS21X

config PCM_SDEBUG
	int
	range 0 1
	default 1	if PCM_SYS21X_SVDB
	default 0	if !PCM_SYS21X_SVDB

config PCM_SVTAPE
	int
	range 0 1
	default 1	if PCM_SYS21X_VTAPE
	default 0	if !PCM_SYS21X_VTAPE

comment "Basic I/O System needs a proper hardware configuration"
	depends on !PCM_HAVE_SYS21XHW

menuconfig PCM_SYS21X_BIOS
	bool
	default y
	select MACH_HAVE_CPM22_BIOS
	select OSYS_SUPPORTS_BDOS_IMAGE
	select OSYS_SUPPORTS_CCP_IMAGE
	select MACH_PROVIDES_BDOS_BASE
	select MACH_PROVIDES_CCP_BASE
	select MACH_PROVIDES_CCP_ROM_OFFS	if PCM_EPROM_4X2716
	depends on PCM_HAVE_SYS21XHW
	prompt "Basic I/O System"
	---help---
		Generate the BIOS part and link it to the given address (see
		CONFIG_PCM_SYS21X_BIOS_BASE).

		Say yes here to provide the BIOS as part of the ROM image
		collection.

if PCM_SYS21X_BIOS

config PCM_SYS21X_BIOS_BASE
	hex
	default 0xDDB0
	prompt "BIOS binary image link address" if EXPERTMODE
	---help---
		Binary image link address of the PC/M system 2.1x BIOS.

		The link address is equal to the real base address (0xDE00)
		less the size of the bootstrap code of 0x50.

		Do not change the default value as far as you know what
		you do. The default value is 0xDE00. The resulted default
		link address is 0xDE00 - 0x50 = 0xDDB0.

config PCM_SYS21X_BIOS_ROM_OFFS
	int
	default PCM_ISD14_OFFS
	prompt "BIOS address offset in boot ROM" if EXPERTMODE
	---help---
		Address offset of the PC/M system 2.1x BIOS in boot ROM.

		Do not change the default value as far as you know what
		you do. The default value is PCM_ISD14_OFFS.

endif	# PCM_SYS21X_BIOS

comment "System Visual Debugger needs Basic I/O System"
	depends on !PCM_SYS21X_BIOS

comment "System Visual Debugger"
	depends on PCM_SYS21X_BIOS && !EXPERTMODE

menuconfig PCM_SYS21X_SVDB
	bool
	default y
	depends on PCM_SYS21X_BIOS
	prompt "System Visual Debugger" if EXPERTMODE
	---help---
		Generate the SVDB part and link it to the given address (see
		CONFIG_PCM_SYS21X_SVDB_BASE).

		Say yes here to provide the SVDB as part of the ROM image
		collection.

if PCM_SYS21X_SVDB

config PCM_SYS21X_SVDB_BASE
	hex
	default 0xE800
	prompt "SVDB binary image link address" if EXPERTMODE
	---help---
		Binary image link address of the PC/M system 2.1x SVDB.

		The link address is equal to this base address.

		Do not change the default value as far as you know what
		you do. The default value is 0xE800.

config PCM_SYS21X_SVDB_ROM_OFFS
	int
	default PCM_ISD15_OFFS
	prompt "SVDB address offset in boot ROM" if EXPERTMODE
	---help---
		Address offset of the PC/M system 2.1x SVDB in boot ROM.

		Do not change the default value as far as you know what
		you do. The default value is PCM_ISD15_OFFS.

endif	# PCM_SYS21X_SVDB

comment "Voice Tape Monitor needs Basic I/O System"
	depends on !PCM_SYS21X_BIOS

comment "Voice Tape Monitor"
	depends on PCM_SYS21X_BIOS && !EXPERTMODE

menuconfig PCM_SYS21X_VTAPE
	bool
	default y
	depends on PCM_SYS21X_BIOS
	prompt "Voice Tape Monitor" if EXPERTMODE
	---help---
		Generate the VTAPE part and link it to the given address (see
		CONFIG_PCM_SYS21X_VTAPE_BASE).

		Say yes here to provide the VTAPE as part of the ROM image
		collection.

if PCM_SYS21X_VTAPE

config PCM_SYS21X_VTAPE_BASE
	hex
	default 0xF000
	prompt "VTAPE binary image link address" if EXPERTMODE
	---help---
		Binary image link address of the PC/M system 2.1x VTAPE.

		The link address is equal to this base address.

		Do not change the default value as far as you know what
		you do. The default value is 0xF000.

config PCM_SYS21X_VTAPE_ROM_OFFS
	int
	default PCM_ISD16_OFFS
	prompt "VTAPE address offset in boot ROM" if EXPERTMODE
	---help---
		Address offset of the PC/M system 2.1x VTAPE in boot ROM.

		Do not change the default value as far as you know what
		you do. The default value is PCM_ISD16_OFFS.

endif	# PCM_SYS21X_VTAPE

if PCM_SYS21X_BIOS

config MACH_PROVIDED_BDOS_BASE
	default 0xD000

config MACH_PROVIDED_CCP_BASE
	default 0xC800

config MACH_PROVIDED_CCP_ROM_OFFS
	default PCM_ISD17_OFFS	if PCM_EPROM_4X2716

endif	# PCM_SYS21X_BIOS

endif	# MACH_PCM_SYS21X

# Local variables:
# coding: utf-8
# mode: text
# mode: kconfig
# End:
# vim: fileencoding=utf-8 filetype=kconfig :
