#
# For a description of the syntax of this configuration file, see:
# https://gitlab.com/ymorin/kconfig-frontends/-/blob/master/docs/kconfig-language.txt
#

config MACH
	string
	default "pcm"	if MACH_PCM
	default ""

source "mach/Kconfig.defaults"

choice
	bool
	prompt "Computer System"
	---help---
		Select the computer system.

config MACH_PCM
	bool
	prompt "Mugler-Matthes-PC"
	---help---
		The PC/M computer, based on a publication by Mugler and
		Matthes in the German journal "Funkamateur" in 1988.

endchoice

source "mach/pcm/Kconfig"

# Local variables:
# coding: utf-8
# mode: text
# mode: kconfig
# End:
# vim: fileencoding=utf-8 filetype=kconfig :
