#
# For a description of the syntax of this configuration file, see:
# https://gitlab.com/ymorin/kconfig-frontends/-/blob/master/docs/kconfig-language.txt
#

config OSYS_IS_CPM22
	bool
	default y	if MACH_HAVE_CPM22_BIOS \
			&& OSYS_HAVE_CPM22_BDOS \
			&& OSYS_HAVE_CPM22_CCP

config OSYS_HAVE_CPM22_BDOS
	bool

config OSYS_HAVE_CPM22_CCP
	bool

config OSYS_SUPPORTS_BDOS_IMAGE
	bool

config OSYS_SUPPORTS_CCP_IMAGE
	bool

# Local variables:
# coding: utf-8
# mode: text
# mode: kconfig
# End:
# vim: fileencoding=utf-8 filetype=kconfig :
