CONFIG_MACH_PCM_SYS330=y
CONFIG_PCM_VIDEO_VID2K_8024=y
CONFIG_OSYS_CPA=y
CONFIG_CPA_198703=y
CONFIG_IMAGE_DSK=y
CONFIG_IMAGE_DSK_AUTOADD_SRCS=y
CONFIG_IMAGE_DSK_AUTOADD_BINS=y
CONFIG_IMAGE_DSK_AUTOADD_DEVTOOLS=y
