#
# For a description of the syntax of this configuration file, see:
# https://gitlab.com/ymorin/kconfig-frontends/-/blob/master/docs/kconfig-language.txt
#

config PCM_HAVE_SYS21XHW
	bool
	default y	if PCM_HAVE_ROM \
			&& PCM_HAVE_RAM \
			&& PCM_HAVE_KEYBOARD

source "mach/pcm/hw/Kconfig.rom"
source "mach/pcm/hw/Kconfig.ram"
source "mach/pcm/hw/Kconfig.keyboard"

# Local variables:
# coding: utf-8
# mode: text
# mode: kconfig
# End:
# vim: fileencoding=utf-8 filetype=kconfig :
