#
# For a description of the syntax of this configuration file, see:
# https://gitlab.com/ymorin/kconfig-frontends/-/blob/master/docs/kconfig-language.txt
#

if OSYS_CPV

choice
	default CPV_198810_2014
	depends on OSYS_CPV
	prompt "CP/V Version"
	---help---
		Select the CP/V version.

config CPV_198810
	bool
	prompt "1988/10"
	---help---
		CP/V Operating System version of October 1988

		This is the original variant and consist the parts:

		  ROM/RAM images:
		    - CCP:  Console Command Processor
		    - BDOS: Basic Disk Operating System

		Say yes here to generate the original CP/V operating system
		that was published in the German journal "Funkamateur" in 1988.

config CPV_198810_2014
	bool
	prompt "1988/10-2014"
	---help---
		CP/V Operating System version of October 1988

		This is the disassembled variant of 1988/10 and consist the parts:

		  Assembler sources:
		    - CCP:  Console Command Processor
		    - BDOS: Basic Disk Operating System

		Say yes here to generate the disassembled CP/V operating system
		that was published in the German journal "Funkamateur" in 1988.

endchoice

endif	# OSYS_CPV

# Local variables:
# coding: utf-8
# mode: text
# mode: kconfig
# End:
# vim: fileencoding=utf-8 filetype=kconfig :
